body {
    background-image: url('Earth-and-Moon.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 740px;
    text-align: center;
}



#profile_image {
    border-radius: 40%;
    background: url('jikaiprofile.jpg');
    padding: 2vw; 
    width: 16vw;
    min-width: 180px;
    max-width: 180px;
    height: 12.8vw;
    min-height:140px;
    max-height: 140px;
    background-position: -75px -45px;
    background-size: 120%;
    position: absolute;
    top: 75px;
    left: 0px;
    right: 0;
    margin: auto
} 

h1{
    text-align: center;
}

#p1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    top: 300px;
    left:0;
    right:0;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position: absolute;
    margin:auto;
    text-align: center;
    color: black
}

#p2 {
    font-family: "Impact";
    font-size: 20pt;
    top: 360px;
    left:0;
    right:0;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position: absolute;
    margin:auto;
    text-align: center;
    color: black
}

#p3 {
    top: 390px;
    left:0px;
    right:0px;
    position: absolute;
    margin: autol;
    text-align: center;


}

#p4 {
    font-family: "Impact";
    font-size: 12pt;
    top: 510px;
    left:10px;
    right:10px;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
    position: absolute;
    margin:auto;
    text-align: center;
    color: black
}

#p5 {
    font-family: "Sans";
    font-size: 13pt;
    top: 560px;
    left:0;
    right:0;
    line-height: 200%;
    text-shadow: -1px grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    position: absolute;
    margin:auto;
    margin-bottom: 5px;
    text-align: center;
    color: black;
    border-color: brown;
}


h2 {
    top: 930px;
    left:0;
    right:0;
    position: absolute;
    margin:auto;
    text-align: center;
    left: 10vw;
    right: 10vw;
}

h3 {
    top: 2300px;
    left:0;
    right:0;
    position: absolute;
    margin:auto;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

#t1{
    font-family: "Sans";
    font-size: 25px;
    border-style:solid;
    border-width: 5px;
    border-color: green;
    line-height: 175%;
    text-align: center;
    padding-left:5px;
    padding-right:5px;
}

#am1{
    font-family: "Sans";
    font-size: 20px;
    line-height: 175%;
    margin:auto;
}


#tree {
    top: 2400px;
    left:25px;
    right:0;
    position: absolute;
    margin:auto;
    left:5vw;
    text-align: left;
}
.vr {
    width:5px;
    background-color: red;
    position:absolute;
    top:0;
    bottom:0;
    left:0vw;
}

.fa {
    padding: 17px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    border-radius: 100%;
    margin: 5px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github-alt {
    background: black;
    color: white;
  }
  .l_icon {
    text-align: center; /*for centering images inside*/
    vertical-align: middle;
    line-height: 150%;
}
  .l_icon img {
    max-width: 55px; /*set the width or max-width*/
    width:5vw;
    min-width:30px;
    max-height: 55px; /*this makes sure to maintain the aspect ratio*/
    width:5.5vw;
    min-width:30px;
    margin: 5px;
    vertical-align: middle;
}

.my_logo{
    text-align: center; /*for centering images inside*/
    left:5vw;
    right:5vw;
}
.my_logo img {
    border-radius: 30%;
    max-width: 120px; /*set the width or max-width*/
    width:15vw;
    min-width:40px;
    max-height: 120px; /*this makes sure to maintain the aspect ratio*/
    height:15vw;
    min-height:40px;
    margin: 5px;
    padding: 5px;
}
.my_exlogo img {
    max-width: 200px; /*set the width or max-width*/
    max-height: 150px; /*this makes sure to maintain the aspect ratio*/
    width:18vw;
    height:15vw;
    min-width:100px;
    min-height:75px;
    margin: 20px;
    padding: 0px;
    border-radius: 15%;
}

#li1 {
    margin:10px;
    color:Black;
    font-style:Comic;
    font-weight:bold;
    overflow:hidden;
    font-size: 18px;
    list-style-type: none;
    padding-left:10px;
}
#li1::before {
    height:20px;
    width:20px;
    content:"";
    display:inline-block;
    background-color:green;
    border-radius:100%;
    position:absolue;
    top:4px;
    margin-right:0px;
    margin-top: 60px;
}
#li1.top {
    margin-left:0px;
}
#li1.middle {
    margin-left:0px;
}
#li1.bottom {
    margin-left:0px;
}

ul li {
    width: 200px;
    height: 40px;
    list-style: none;
    opacity: 0.8;
    line-height: 10px;
}


#man
{
    list-style: none;
    color: white;
    font-size: 19px;
    top:10px;
    text-align: left;
}
.manul{
    padding-top: 20px;
}
.manul img{
    max-height: 90px;
    max-width: 90px;
    height:8vw;
    width:8vw;
    min-height: 30px;
    min-width:30px;
    cursor: pointer;
}

#link{
    display:none;
    list-style: none;
    line-height:150%;
}
#linkaboutme 
 {

    color: white;
    text-decoration: none;
    background:none;
    list-style: none;
    padding-left:5px;
}
#linkexp
{

   color: white;
   text-decoration: none;
   background:none;
   list-style: none;
   padding-left:5px;
}
#linkaboutme:hover{
    color: yellow;
}
#linkexp:hover{
    color: yellow;
}

#mapinfo{
    position: absolute;
    margin: auto;
    top: 240vh;
    right: 2vw;
    bottom: 0;
    left: 2.5vw;
}

maptitle {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    margin:auto;

}



#xian {
    height:170px;
    width: 300px;
    right: 0px;
    left: 0px;
    margin: auto;
    border-radius: 30%;
    padding-top:10px;
}

#japanview{
    height:130px;
    width: 250px;
    right: 0px;
    left: 0px;
    margin: auto;
    border-radius: 25%;
    margin: 10px;
}

content {
    left:10px;
    right:30px;
}

mapdiscription{
    font-family: "Sans";
    font-size: 15pt;
    line-height: 150%;
    margin:auto;
    text-align: left;
    color: black;
}



keyword {
    font-family: "oblique";
    font-size: 15px;
    line-height:200%;
}


.my_exdiscription{
    float:right;
}