body {
    background-image: url('Earth-and-Moon.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 750px;
    text-align: center;
}


#profile_image {
    border-radius: 40%;
    background: url('jikaiprofile.jpg');
    padding: 2vw; 
    width: 16vw;
    min-width: 180px;
    max-width: 180px;
    height: 12.8vw;
    min-height:140px;
    max-height: 140px;
    background-position: -75px -45px;
    background-size: 120%;
    position: absolute;
    top: 75px;
    left: 0px;
    right: 0;
    margin: auto
} 

h1{
    text-align: center;
}

#p1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    top: 290px;
    left:0;
    right:0;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position: absolute;
    margin:auto;
    text-align: center;
    color: black
}

#p2 {
    font-family: "Impact";
    font-size: 20pt;
    top: 340px;
    left:0;
    right:0;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position: absolute;
    margin:auto;
    text-align: center;
    color: black
}

#p3 {
    top: 360px;
    left:0px;
    right:0px;
    position: absolute;
    margin: autol;
    text-align: center;


}


#p4 {
    font-family: "Impact";
    font-size: 12pt;
    top: 500px;
    left:10px;
    right:10px;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
    position: absolute;
    margin:auto;
    text-align: center;
    color: black
}

#p5 {
    font-family: "Sans";
    font-size: 13pt;
    top: 550px;
    left:0;
    right:0;
    line-height: 200%;
    text-shadow: -1px grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    position: absolute;
    margin:auto;
    margin-bottom: 5px;
    text-align: center;
    color: black;
    border-color: brown;
}


h2 {
    top: 930px;
    position: absolute;
    margin:auto;
    text-align: center;
    padding-left: 8vw;
    padding-right:8vw;
}
#aboutme{
    left: 10vw;
    right: 10vw;
}

h3 {
    left:0;
    right:0;
    position: relative;
    margin:auto;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

#experience{
    text-align: left;
}

#t1{
    font-family: "Sans";
    font-size: 18px;
    border-style:solid;
    border-width: 5px;
    border-color: green;
    line-height: 175%;
    text-align: center;
    padding-left:5px;
    padding-right:5px;
}

#am1{
    font-family: "Sans";
    font-size: 18px;
    line-height: 175%;
}


#tree {
    padding-top:10px;
    right:0;
    position: absolute;
    left:3.5vw;
    text-align: left;
}

#text {
    font-size:16px;
    padding-bottom:10px;
    font-weight:bold;
    color:#726F6F
}

#myyexperience{
    position:relative;
}
.vr {
    width:5px;
    background-color: red;
    position:absolute;
    top:0;
    bottom:50px;
    left:0vw;
}

.fa {
    padding: 17px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    border-radius: 100%;
    margin: 5px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github-alt {
    background: black;
    color: white;
  }
  .l_icon {
    text-align: center; /*for centering images inside*/
    vertical-align: middle;
    line-height: 150%;
}
  .l_icon img {
    max-width: 55px; /*set the width or max-width*/
    width:5vw;
    min-width:30px;
    max-height: 55px; /*this makes sure to maintain the aspect ratio*/
    width:5.5vw;
    min-width:30px;
    margin: 5px;
    vertical-align: middle;
}

.my_logo{
    text-align: center; /*for centering images inside*/
    left:5vw;
    right:5vw;
    vertical-align: text-bottom;
}
.my_logo img {
    border-radius: 30%;
    max-width: 120px; /*set the width or max-width*/
    width:15vw;
    min-width:40px;
    max-height: 120px; /*this makes sure to maintain the aspect ratio*/
    height:15vw;
    min-height:40px;
    margin: 5px;
    padding: 5px;
}


.my_exlogo img {
    max-width: 150px; /*set the width or max-width*/
    max-height: 100px; /*this makes sure to maintain the aspect ratio*/
    width:15vw;
    height:10vw;
    min-width:100px;
    min-height:67px;
    margin: 0px;
    padding: 0px;
    border-radius: 15%;
    vertical-align: middle;
    float:left;
    margin-right:10px;
    margin-top: 20px;
}


#li1 {
    margin:10px;
    color:Black;
    font-style:Comic;
    overflow:hidden;
    font-size: 16px;
    list-style-type: none;
    padding-left:10px;

}
#li1::before {
    height:20px;
    width:20px;
    content:"";
    display:inline-block;
    background-color:#E9820D;
    border-radius:100%;
    position:absolue;
    top:4px;
    margin-right:0px;
    margin-top: 60px;
}
#li1.top {
    margin-left:0px;
}
#li1.middle {
    margin-left:0px;
}
#li1.bottom {
    margin-left:0px;
}




#man
{
    list-style: none;
    color: white;
    font-size: 17px;
    top:6px;
    text-align: left;
    padding-left:1vw;
}
.manul{
    padding-top: 20px;
}
.manul img{
    max-height: 90px;
    max-width: 90px;
    height:8vw;
    width:8vw;
    min-height: 30px;
    min-width:30px;
    cursor: pointer;
}

#link{
    display:none;
    list-style: none;
    line-height:150%;
}
#linkaboutme 
 {

    color: white;
    text-decoration: none;
    background:none;
    list-style: none;
    padding-left:5px;
}
#linkexp
{

   color: white;
   text-decoration: none;
   background:none;
   list-style: none;
   padding-left:5px;
}
#linkaboutme:hover{
    color: yellow;
}
#linkexp:hover{
    color: yellow;
}

#mapinfo{
    position: relative;
    margin: auto;
}

.maptitle {
    font-family: "Comic Sans";
    font-weight: bold;
    font-size: 20px;
    position: relative;
    margin:auto;

}



#xian {
    max-height:190px;
    max-width: 500px;
    height:25vw;
    width:50vw;
    right: 0px;
    left: 0px;
    margin: auto;
    border-radius: 10%;
    padding-top:10px;
}

#japanview{
    max-height:180px;
    max-width: 450px;
    height:25vw;
    width:50vw;
    right: 0px;
    left: 0px;
    margin: auto;
    border-radius: 10%;
    margin: 10px;
}

#torontoview{
    max-height:180px;
    max-width: 450px;
    height:35vw;
    width:50vw;
    right: 0px;
    left: 0px;
    margin: auto;
    border-radius: 10%;
    margin: 10px;
}

#laview{
    max-height:190px;
    max-width: 500px;
    height:25vw;
    width:50vw;
    right: 0px;
    left: 0px;
    margin: auto;
    border-radius: 10%;
    padding-top:10px;
}
content {
    left:10px;
    right:30px;
}

.mapdiscription{
    font-family: "Sans";
    font-size: 13pt;
    line-height: 150%;
    margin:auto;
    text-align: left;
    color: black;
    text-align: center;
}



.keyword {
    font-family: "oblique";
    font-size: 15px;
    line-height:200%;
    text-align: center;
}


.my_exdiscription{
    line-height: 175%;
    font-weight: normal;
    font-size:15px;
    list-style: none;
}

.focus{
    font-weight:bold;
    color:#571212
}


h6{
    height:2vw;
    position: static;
    font-size:11px;
    text-align: center;
}

.contact{
    margin-left:20px;
    max-width: 55px; /*set the width or max-width*/
    width:5vw;
    min-width:30px;
    max-height: 55px; /*this makes sure to maintain the aspect ratio*/
    width:5.5vw;
    min-width:30px;
    margin-left: 10px;
    margin-right:3px;
    vertical-align: middle;
    padding-bottom:10px;
}
.contact.hover{
    opacity: 0.7;
    cursor: pointer;
}

